# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Build artifacts
target/
build/
*.jar
*.war
*.zip

# IDE-specific files
.idea/
.vscode/
.project
.classpath
.settings/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency-related files
.gradle/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment-specific configuration
application-dev.properties
application.properties
application.yml
env.properties
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
Thumbs.db

# Temporary files
*.tmp
*~

# Node.js
node_modules/
dist/
dist-ssr/
pids/
*.pid
*.seed
*.pid.lock
.npm/
.eslintcache
.node_repl_history

# Editor/IDE specific files
*.sublime-project
*.sublime-workspace

# VSCode extensions file (keep extensions.json but ignore everything else)
.vscode/*
!.vscode/extensions.json

src/config/prompts.js
