.form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container > input {
  flex: 1 1 auto;
  padding: 0.3rem;
  font-family: inherit;
}

.form-container > input:focus {
  border-color: 2px solid var(--clr-rose-800);
  outline-color: var(--clr-rose-800);
}


.form-container > button {
  min-width: 10rem;
}


.submit-button {
  background-color: var(--clr-rose-800);
  color: var(--clr-stone-100);
  border: none;
  padding-block: 0.4rem;
}

@media (min-width: 37.5em) {
  .form-container{
   flex-direction: row;
  }
}

.welcome_image{
  width: 100%;
  aspect-ratio: 2.1;
  object-fit: cover;
  object-position: 10% 60%;
}