.typing-cursor::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 2px;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.recipe_image{
  width: 100%;
  aspect-ratio: 2.1;
  object-fit: cover;
  border-radius: 0.5rem;
}